.mainTitle{
    font-size: 5rem;
}
.items{
    display: flex;
    gap: 2vh;
}
.selectTitle{
    margin: 4vh 0vh;
}

.item{
    border: 0.1rem solid grey;
    border-radius: 1.1rem;
    height:30vh;
    width: 13vw;
    position: relative;
    background-size: cover !important;
    filter: grayscale(100%);
}

.items :nth-child(1){
    background: url('/illustration.png');
}
.items :nth-child(2){
    background: url('/websites.jpg');
}
.items :nth-child(3){
    background: url('/apps.jpg');
}


.title{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    right: 1vw;
    bottom: 0.8vh;
    color: white;
    background: transparent;
}
.item:hover{
    filter: grayscale(0%);
}
.item:hover .title{
    color: #53c28b;
}